<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	<typeAliases>
		<typeAlias type="kr.co.mollect.member.domain.Member"
			alias="Member" />
		<typeAlias type="kr.co.mollect.notice.domain.Notice"
			alias="Notice" />
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member/member-mapper.xml" />
		<mapper resource="mappers/notice/notice-mapper.xml" />
	</mappers>
</configuration>